.chatItems {
    max-height: 50em;
}

.chat {
    height:50em;
    width: 100%;
    position: relative; 
    overflow-y: scroll;
}

.ch {
    position: sticky; 
    bottom: 0; 
    width: 100%; 
    background-color: white;
}

.snd {
    border-radius: 30%;
}

.txt {
    width: 25em;
}

@media only screen and (max-width: 768px) {
    .txt {
        width: 5%;
    }
}
